<ion-card>
  <div class='center'>
    <app-logo></app-logo>
    <h1>Recuperar Senha</h1>
    
</div>

<ion-card>
  <form>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" name="email"[(ngModel)]="userData.email"></ion-input>
    </ion-item>
  
    <ion-item>
      <a [routerLink]="[ '/signup' ]">Criar uma conta </a>
    </ion-item> 
    <ion-item>
      <a [routerLink]="[ '/login' ]">Entrar</a>
    </ion-item>   
  
      <ion-button expand="block" shape='block' color="secondary" >Recuperar</ion-button>
  </ion-list>
  </form>
</ion-card>



</ion-card>
