
<div class="centerHome" lines="none"> 
  <ion-item lines="none">
      <app-logo slot="start"></app-logo>
     
  </ion-item>
  
  <ion-item lines="none">
      <h3 slot="start">Ola, Paulo. </h3> 
      <app-points slot="end"></app-points>
    
      <p slot="botton">Veja as super ofertas que temos hoje para você </p>
  </ion-item>
  
</div>
<!-- <div text-center>
    <ion-searchbar placeholder="Filtrar categoria" (ionInput)="getItems($event)"></ion-searchbar>
      <ion-list>
        <ion-item *ngFor="let item of items">
          {{ item }}
        </ion-item>
      </ion-list>
    </div>-->
<ion-content>
  
    
  <app-home-slides></app-home-slides>
</ion-content>
