<ion-content>
  
  <ion-card *ngIf="itemSelected">
    <img height="30px" src="/assets/img/qbLogo.png" >
    <ion-card-header>
     
      <ion-card-title>
        {{ itemSelected.name }}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content >

      

      
      
        <img height="350px" src="{{itemSelected.img}}">
      
      <ion-item>
        <p>Descrição: {{itemSelected.description}}</p>
      </ion-item>
      <ion-item>
        <ion-label>Tipo do Queijo</ion-label>
          <ion-select [(ngModel)]='itemSelected.option1'>
            <ion-select-option>Queijo Cheddar</ion-select-option>
            <ion-select-option>Queijo Prato</ion-select-option>
            <ion-select-option>Queijo Provolone</ion-select-option>
          </ion-select> 
      </ion-item>
      <ion-item>
        <ion-label>Escolha o Pão</ion-label>
          <ion-select [(ngModel)]='itemSelected.option2'>
            <ion-select-option>Gergilin</ion-select-option>
            <ion-select-option>Brioche</ion-select-option>
          </ion-select> 
      </ion-item>
      <ion-row>
        <ion-col text-center><h2>Valor: {{itemSelected.price | currency: 'R$ '}}</h2></ion-col>
      </ion-row>
    <ion-button color='warning' shape='round' expand='full' (click)='addToCart()'>
      <ion-icon name='cart'></ion-icon> Adicionar no Carrinho
    </ion-button>
  </ion-card-content>
  </ion-card>
  
  

</ion-content>

